Repository sidarragac/PrevMora: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, frontend-type-check, dependency-check, frontend-security-audit

Path conditions:
  backend-tests: any of: ^backend/.*\.py$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  dependency-check: any of: ^backend/credit_management/requirements\.txt$
  frontend-security-audit: any of: ^frontend/package\.json$

Remove SonarQube configuration and GitHub Actions workflow for static analysis
  .github/workflows/static-analysis.yml
  sonar-project.properties
Due: none

Remove implementation summary
  docs/IMPLEMENTATION_SUMMARY.md
  docs/STATIC_ANALYSIS_IMPLEMENTATION.md
  docs/wiki/README.md
  docs/wiki/development-setup.md
  docs/wiki/naming-standards.md
  docs/wiki/static-analysis.md
Due: none

feat: Improve sidebar layout and logout button positioning
  .DS_Store
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/main-bg.png
  frontend/public/css/globals.css
  frontend/src/app/(auth)/layout.tsx
  frontend/src/app/(auth)/sign-in/[[...rest]]/page.tsx
  frontend/src/app/(auth)/sign-up/[[...rest]]/page.tsx
  frontend/src/app/(platform)/layout.tsx
  frontend/src/app/(platform)/plataforma/cartera/page.tsx
  frontend/src/app/(platform)/plataforma/page.tsx
  frontend/src/app/(root)/layout.tsx
  frontend/src/app/(root)/pagar-prestamo/page.tsx
  frontend/src/app/(root)/page.tsx
  frontend/src/app/(root)/prestamos/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/dashboard/siderbar/header.tsx
  frontend/src/components/dashboard/siderbar/nav-btn.tsx
  frontend/src/components/dashboard/siderbar/sidebar.tsx
  frontend/src/components/landing/navbar.tsx
  frontend/src/middleware.ts
  frontend/src/providers/animation-provider.tsx
  frontend/test.txt
  frontend/tsconfig.json
Due: frontend-type-check, frontend-security-audit

Add notifications microservice with API endpoint for client alerts
  backend/notifications/README.md
  backend/notifications/app/api/routes.py
  backend/notifications/app/config/database.py
  backend/notifications/app/config/settings.py
  backend/notifications/app/main.py
  backend/notifications/app/models/alert.py
  backend/notifications/app/models/base.py
  backend/notifications/app/models/client.py
  backend/notifications/app/models/credit.py
  backend/notifications/app/models/installment.py
  backend/notifications/requirements.txt
Due: backend-tests

Refactor get_client_alerts endpoint to streamline code and remove outdated documentation
  backend/notifications/app/api/routes.py
Due: backend-tests

Update SQLAlchemy dependency in requirements.txt to remove version pinning
  backend/notifications/requirements.txt
Due: none

Add CI workflow for testing with Python
  .github/workflows/main.yml
Due: none

Modify pip install command in workflow
  .github/workflows/main.yml
Due: none

Simplify CI workflow by removing unused steps
  .github/workflows/main.yml
Due: none

feat: Add Excel upload functionality and enhance dashboard components
  backend/.gitignore
  backend/credit_management/requirements.txt
  frontend/.gitignore
  frontend/backend-doc.json
  frontend/package.json
  frontend/public/css/globals.css
  frontend/src/app/(platform)/plataforma/cartera/cliente/[id]/page.tsx
  frontend/src/app/(platform)/plataforma/cartera/page.tsx
  frontend/src/app/(platform)/plataforma/page.tsx
  frontend/src/app/(platform)/plataforma/subir-excel/page.tsx
  frontend/src/app/(root)/page.tsx
  frontend/src/components/clients/client-card.tsx
  frontend/src/components/clients/clients-table.tsx
  frontend/src/components/clients/view-toggle.tsx
  frontend/src/components/dashboard/recent-activity.tsx
  frontend/src/components/dashboard/recent-alerts.tsx
  frontend/src/components/dashboard/siderbar/sidebar.tsx
  frontend/src/components/dashboard/stats-cards.tsx
  frontend/src/components/excel/process-excel-button.tsx
  frontend/src/components/excel/process-excel-wrapper.tsx
  frontend/src/components/excel/server-status.tsx
  frontend/src/components/excel/upload-excel-wrapper.tsx
  frontend/src/components/excel/upload-excel.tsx
  frontend/src/constants/env.ts
  frontend/src/services/excel-service.ts
  frontend/src/types/client.ts
  frontend/src/types/dashboard.ts
  frontend/src/types/excel.ts
Due: frontend-type-check, dependency-check, frontend-security-audit

feat: Add Update to the following entities alert, credit, installment, manager, portfolio
  backend/credit_management/app/api/routes/v1/alert.py
  backend/credit_management/app/api/routes/v1/credit.py
  backend/credit_management/app/api/routes/v1/installment.py
  backend/credit_management/app/api/routes/v1/manager.py
  backend/credit_management/app/api/routes/v1/portfolio.py
Due: backend-tests

feat: Enhance get_client_alerts endpoint to filter installments due within the next 10 days
  backend/notifications/app/api/routes.py
Due: backend-tests

refactor: Remove "template" field from get_client_alerts response structure
  backend/notifications/app/api/routes.py
Due: backend-tests

Delete .DS_Store
  .DS_Store
Due: none

feat: Implement InstallmentUpdate schema and update endpoint to use it
  backend/credit_management/app/api/routes/v1/installment.py
  backend/credit_management/app/controllers/installment.py
  backend/credit_management/app/main.py
  backend/credit_management/app/schemas/Installment.py
Due: backend-tests

feat: Update client management features and loading states
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/(platform)/plataforma/cartera/cliente/[id]/loading.tsx
  frontend/src/app/(platform)/plataforma/cartera/cliente/[id]/page.tsx
  frontend/src/app/(platform)/plataforma/cartera/loading.tsx
  frontend/src/app/(platform)/plataforma/cartera/page.tsx
  frontend/src/app/(platform)/plataforma/loading.tsx
  frontend/src/app/(platform)/plataforma/page.tsx
  frontend/src/app/(platform)/plataforma/subir-excel/loading.tsx
  frontend/src/components/clients/edit-client-button.tsx
  frontend/src/components/clients/new-client-button.tsx
  frontend/src/components/clients/update-installment-due-date.tsx
  frontend/src/components/clients/view-toggle.tsx
Due: frontend-type-check, frontend-security-audit

todavia no funciona
  backend/notifications/app/api/routes.py
Due: backend-tests

feat: Add dashboard API routes and schemas for consolidated data retrieval
  backend/credit_management/app/api/routes/v1/__init__.py
  backend/credit_management/app/api/routes/v1/dashboard.py
  backend/credit_management/app/schemas/Dashboard.py
Due: backend-tests

funciona notifications
  backend/notifications/app/api/routes.py
Due: backend-tests

feat: Enhance installment management and Excel upload functionality
  backend/credit_management/app/schemas/Installment.py
  backend/portfolio_management/app/main.py
  backend/portfolio_management/requirements.txt
  frontend/src/app/(platform)/plataforma/cartera/cliente/[id]/page.tsx
  frontend/src/app/(platform)/plataforma/page.tsx
  frontend/src/app/(platform)/plataforma/subir-excel-portafolio/loading.tsx
  frontend/src/app/(platform)/plataforma/subir-excel-portafolio/page.tsx
  frontend/src/app/(platform)/plataforma/subir-excel/page.tsx
  frontend/src/components/clients/update-installment-due-date.tsx
  frontend/src/components/dashboard/siderbar/sidebar.tsx
  frontend/src/components/excel/upload-excel-wrapper.tsx
  frontend/src/components/excel/upload-excel.tsx
  frontend/src/services/excel-service.ts
Due: backend-tests, frontend-type-check

feat: Add manager information to portfolio and client schemas, and implement repository methods for retrieval
  backend/credit_management/app/controllers/client.py
  backend/credit_management/app/controllers/portfolio.py
  backend/credit_management/app/repository/portfolio.py
  backend/credit_management/app/schemas/Client.py
  backend/credit_management/app/schemas/Portfolio.py
Due: backend-tests

feat: Refactor installment display to enhance portfolio information visibility
  frontend/src/app/(platform)/plataforma/cartera/cliente/[id]/page.tsx
Due: frontend-type-check

funciona el calculo de porcentaje de morarosidad de aumento o disminución de morosidad y el numero que aumento o disminuyo
  backend/stats/app/__init__.py
  backend/stats/app/api/__init__.py
  backend/stats/app/api/main.py
  backend/stats/app/api/routes.py
  backend/stats/app/main.py
  backend/stats/requirements.txt
Due: backend-tests

feat: Implement KPIs page and month comparison controls
  backend/stats/requirements.txt
  frontend/src/app/(platform)/plataforma/kpis/page.tsx
  frontend/src/components/dashboard/siderbar/sidebar.tsx
  frontend/src/components/kpis/month-compare-controls.tsx
Due: frontend-type-check

Comparación de Morosidad Terminado
  backend/stats2/app/api/routes.py
  backend/stats2/app/config/database.py
  backend/stats2/app/config/settings.py
  backend/stats2/app/main.py
  backend/stats2/app/models/base.py
  backend/stats2/app/models/client.py
  backend/stats2/app/models/credit.py
  backend/stats2/app/models/installment.py
  backend/stats2/requirements.txt
Due: backend-tests

Comparación de Morosidad Terminado con carpeta routes
  backend/stats2/app/api/routes/stats_by_month_mora.py
  backend/stats2/app/main.py
Due: backend-tests

correción del requisito
  backend/stats2/app/api/routes/num_clients.py
  backend/stats2/app/api/routes/stats_by_month_mora.py
Due: backend-tests

promedio de recuperación hecho
  backend/stats2/app/api/routes/money_recovery.py
  backend/stats2/app/main.py
Due: backend-tests

feat: endpoint now returns the pdf to download
  backend/analytics/app/api/routes/routes.py
  backend/analytics/app/api/routes/v1/analytics.py
  backend/analytics/scripts/test_reports.py
Due: backend-tests

fix: removed repeated APIRouter args
  backend/analytics/app/api/routes/v1/analytics.py
Due: backend-tests

updated requirements.txt
  backend/analytics/requirements.txt
Due: none

Add feature for visualize the debt of one client
  backend/credit_management/app/api/routes/v1/client.py
  backend/credit_management/app/controllers/client.py
  backend/credit_management/app/schemas/Client.py
Due: backend-tests

funciona con controladores
  backend/stats2/app/__init__.py
  backend/stats2/app/api/__init__.py
  backend/stats2/app/api/routes/__init__.py
  backend/stats2/app/api/routes/money_recovery.py
  backend/stats2/app/api/routes/num_clients.py
  backend/stats2/app/api/routes/stats_by_month_mora.py
  backend/stats2/app/controllers/analytics.py
  backend/stats2/app/main.py
  backend/stats2/app/models/__init__.py
  backend/stats2/app/models/installment.py
  backend/stats2/app/models/manager.py
  backend/stats2/app/models/portafolio.py
  backend/stats2/app/models/reconciliation.py
  backend/stats2/app/schemas/analytics.py
Due: backend-tests

Add GitHub Actions workflow for backend linting (rewrite)
  .github/workflows/main.yml
Due: none

Delete .github/workflows/main.yml
  .github/workflows/main.yml
Due: none

Add linting workflow for backend code (rewrite)
  .github/workflows/main.yml
Due: none

Add lint-backend workflow configuration
  .github/workflows/.github/workflows/lint-backend.yml
Due: none

Reversed file to origin path
  .github/workflows/lint-backend.yml
Due: none
