Repository sidarragac/PrevMora: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, frontend-type-check, dependency-check, frontend-security-audit

backend-tests:
  name: Backend Tests
  description: Run backend tests
  entry: bash -c 'cd backend/credit_management && python -m pytest tests/ --tb=short'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-type-check:
  name: Frontend Type Check
  description: Run TypeScript type checking
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

dependency-check:
  name: Dependency Security Check
  description: Check for vulnerable dependencies
  entry: bash -c 'cd backend/credit_management && safety check -r requirements.txt'
  language: system
  pass_filenames: false

frontend-security-audit:
  name: Frontend Security Audit
  description: Audit frontend dependencies for vulnerabilities
  entry: bash -c 'cd frontend && npm audit --audit-level high'
  language: system
  pass_filenames: false

Refactor lint-backend workflow for clarity and efficiency
  .github/workflows/lint-backend.yml
Due: none

Rename Black job to 'Black (advisory)'
  .github/workflows/lint-backend.yml
Due: none

Refactor lint-backend workflow for clarity and structure
  .github/workflows/lint-backend.yml
Due: none

Enhance lint-backend workflow with auto-formatting
  .github/workflows/lint-backend.yml
Due: none

Refactor lint-backend workflow for simplicity
  .github/workflows/lint-backend.yml
Due: none

Add linting workflow for frontend code
  .github/workflows/lint-frontend.yml
Due: none

Refactor lint workflow with conditional npm script checks
  .github/workflows/lint-frontend.yml
Due: none

Modify lint-frontend workflow to include ESLint fallback
  .github/workflows/lint-frontend.yml
Due: none

Refactor ESLint step for better project config handling
  .github/workflows/lint-frontend.yml
Due: none

Refactor lint-frontend.yml for efficiency
  .github/workflows/lint-frontend.yml
Due: none

Refactor lint-frontend.yml for ESLint setup
  .github/workflows/lint-frontend.yml
Due: none

Update ESLint configuration and run step
  .github/workflows/lint-frontend.yml
Due: none

Frontend workflow steps (Updated 3)
  .github/workflows/lint-frontend.yml
Due: none

Backend workflow (Updated 3)
  .github/workflows/lint-backend.yml
Due: none

style(backend): apply isort+black
  backend/analytics/app/api/routes/routes.py
  backend/analytics/app/api/routes/v1/analytics.py
  backend/analytics/app/auth/dependencies.py
  backend/analytics/app/schemas/Report.py
  backend/analytics/app/utils/ExcelLoaderService.py
  backend/analytics/app/utils/ReportGeneratorService.py
  backend/credit_management/app/api/routes/v1/alert.py
  backend/credit_management/app/api/routes/v1/client.py
  backend/credit_management/app/api/routes/v1/credit.py
  backend/credit_management/app/api/routes/v1/dashboard.py
  backend/credit_management/app/api/routes/v1/installment.py
  backend/credit_management/app/api/routes/v1/manager.py
  backend/credit_management/app/api/routes/v1/portfolio.py
  backend/credit_management/app/auth/dependencies.py
  backend/credit_management/app/controllers/client.py
  backend/credit_management/app/controllers/installment.py
  backend/credit_management/app/controllers/portfolio.py
  backend/credit_management/app/repository/portfolio.py
  backend/credit_management/app/schemas/Client.py
  backend/notifications/app/api/routes.py
  backend/notifications/app/config/settings.py
  backend/notifications/app/main.py
  backend/notifications/app/models/base.py
  backend/portfolio_management/app/api/routes/routes.py
  backend/portfolio_management/app/api/routes/v1/portfolio_management.py
  backend/portfolio_management/app/auth/dependencies.py
  backend/portfolio_management/app/utils/ExcelLoaderService.py
  backend/stats/app/__init__.py
  backend/stats/app/api/__init__.py
  backend/stats/app/api/main.py
  backend/stats/app/api/routes.py
  backend/stats/app/main.py
Due: backend-tests

Remove 'no-store' cache directive from fetch requests in multiple components and enhance the ClientDetailPage layout with improved styling and a new loading state for credits detailed view.
  frontend/src/app/(platform)/plataforma/cartera/cliente/[id]/page.tsx
  frontend/src/app/(platform)/plataforma/cartera/cliente/credits_detailed/[id]/loading.tsx
  frontend/src/app/(platform)/plataforma/cartera/cliente/credits_detailed/[id]/page.tsx
  frontend/src/app/(platform)/plataforma/cartera/page.tsx
  frontend/src/app/(platform)/plataforma/kpis/page.tsx
  frontend/src/app/(platform)/plataforma/page.tsx
Due: frontend-type-check

listo
  backend/stats2/app/api/routes/stats_by_month_mora.py
Due: backend-tests

Remove unused scripts
  backend/notifications/app/api/routes.py
  scripts/check-all.sh
  scripts/demo-static-analysis.sh
  scripts/format-all.sh
  scripts/setup-dev.sh
Due: backend-tests

style(backend): apply isort+black
  backend/payments/app/api/routes/v1/payment.py
  backend/payments/app/controllers/payment.py
  backend/payments/app/schemas/Payment.py
  backend/payments/scripts/test_payment_integration.py
Due: backend-tests

Cambios para deploy
  deploy/.env
  deploy/analytics.Dockerfile
  deploy/compose.yml
  deploy/credit_management.Dockerfile
  deploy/notifications.Dockerfile
  deploy/portfolio_management.Dockerfile
  deploy/stats.Dockerfile
Due: none

Cambios para deploy
  backend/analytics/app/config/settings.py
  backend/credit_management/app/config/settings.py
  backend/notifications/app/config/__init__.py
  backend/notifications/app/config/settings.py
  backend/notifications/app/models/__init__.py
  backend/portfolio_management/app/config/settings.py
  backend/stats/app/api/routes.py
Due: backend-tests

style(backend): apply isort+black
  backend/stats/app/api/routes.py
Due: backend-tests

kpi listas
  backend/stats2/app/api/routes/num_clients.py
Due: backend-tests

requisito notions modificado
  backend/analitys_KPI/app/__init__.py
  backend/analitys_KPI/app/api/__init__.py
  backend/analitys_KPI/app/api/routes/__init__.py
  backend/analitys_KPI/app/api/routes/money_recovery.py
  backend/analitys_KPI/app/api/routes/num_clients.py
  backend/analitys_KPI/app/api/routes/stats_by_month_mora.py
  backend/analitys_KPI/app/config/database.py
  backend/analitys_KPI/app/config/settings.py
  backend/analitys_KPI/app/controllers/analytics.py
  backend/analitys_KPI/app/main.py
  backend/analitys_KPI/app/models/__init__.py
  backend/analitys_KPI/app/models/base.py
  backend/analitys_KPI/app/models/client.py
  backend/analitys_KPI/app/models/credit.py
  backend/analitys_KPI/app/models/installment.py
  backend/analitys_KPI/app/models/manager.py
  backend/analitys_KPI/app/models/portafolio.py
  backend/analitys_KPI/app/models/reconciliation.py
  backend/analitys_KPI/app/schemas/analytics.py
  backend/analitys_KPI/requirements.txt
  backend/notifications/app/api/routes.py
Due: backend-tests

style(backend): apply isort+black
  backend/analitys_KPI/app/__init__.py
  backend/analitys_KPI/app/api/__init__.py
  backend/analitys_KPI/app/api/routes/__init__.py
  backend/analitys_KPI/app/api/routes/money_recovery.py
  backend/analitys_KPI/app/api/routes/num_clients.py
  backend/analitys_KPI/app/api/routes/stats_by_month_mora.py
  backend/analitys_KPI/app/config/settings.py
  backend/analitys_KPI/app/controllers/analytics.py
  backend/analitys_KPI/app/main.py
  backend/analitys_KPI/app/models/base.py
  backend/analitys_KPI/app/models/installment.py
  backend/analitys_KPI/app/models/manager.py
  backend/analitys_KPI/app/models/portafolio.py
  backend/analitys_KPI/app/models/reconciliation.py
  backend/analitys_KPI/app/schemas/analytics.py
  backend/stats2/app/__init__.py
  backend/stats2/app/api/__init__.py
  backend/stats2/app/api/routes/__init__.py
  backend/stats2/app/api/routes/money_recovery.py
  backend/stats2/app/api/routes/num_clients.py
  backend/stats2/app/api/routes/stats_by_month_mora.py
  backend/stats2/app/config/settings.py
  backend/stats2/app/controllers/analytics.py
  backend/stats2/app/main.py
  backend/stats2/app/models/base.py
  backend/stats2/app/models/installment.py
  backend/stats2/app/models/manager.py
  backend/stats2/app/models/portafolio.py
  backend/stats2/app/models/reconciliation.py
  backend/stats2/app/schemas/analytics.py
Due: backend-tests

Cambios en deploy
  backend/analitys_KPI/README.md
  backend/analitys_KPI/app/config/settings.py
  backend/analitys_KPI/app/main.py
  backend/analitys_KPI/requirements.txt
  backend/notifications/app/main.py
  backend/payments/README.md
  backend/payments/app/config/settings.py
  backend/payments/requirements.txt
  backend/stats/app/main.py
  deploy/.env
  deploy/analitys_KPI.Dockerfile
  deploy/compose.yml
  deploy/payments.Dockerfile
Due: backend-tests

style(backend): apply isort+black
  backend/analitys_KPI/app/config/settings.py
Due: backend-tests

Minor security fixes
  deploy/.env
  deploy/.env.example
  deploy/.gitignore
Due: none

Path conditions:
  backend-tests: any of: ^backend/.*\.py$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$
  dependency-check: any of: ^backend/credit_management/requirements\.txt$
  frontend-security-audit: any of: ^frontend/package\.json$
